.idea/
notes.txt
.venv/
__pycache__/
public/
.env
.coverage
.mypy_cache
.pytest_cache
*.egg-info
build/
dist/
public/.*/
../templates/django/django_api/docs/generated/
django_api/static/
docs/source/generated/
